@model FormsApp.Models.CreateProductViewModel

<h2>Ürün Güncelle</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Product.Id" />

    <div class="mb-3">
        <label asp-for="Product.Name" class="form-label"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Product.Price" class="form-label"></label>
       <input asp-for="Product.Price" class="form-control" type="text" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Product.Image" class="form-label"></label>
        <input asp-for="Product.Image" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Product.CategoryId" class="form-label"></label>
        <select asp-for="Product.CategoryId" asp-items="Model.Categories" class="form-select"></select>
        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3 form-check">
        <input asp-for="Product.IsActive" class="form-check-input" />
        <label asp-for="Product.IsActive" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
