@model MvcApp.Models.Course
@{
    ViewData["Title"] = "Course ";
}

<div class="container mt-4">
    <div class="card" style="width: 22rem;">
        <img src="~/img/@Model.Image" class="card-img-top" alt="@Model.Title">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <a href="@Url.Action("List","Course")" class="btn btn-primary">Tüm Kurslar</a>
        </div>
    </div>
</div>
